.footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 32px;
  z-index: 10;
}

.footer .texts .link,
.footer .texts .separator {
  display: inline-block;
  vertical-align: middle;
}

.footer .texts .link {
  display: inline-flex;
  align-content: center;
  justify-content: center;

  width: 128px;
  height: 32px;
}

.footer .texts .link a {
  text-align: center;
  text-decoration: none;
  color: #bdbdbd;
  font-size: 18px;
}

.footer .texts .separator {
  width: 2px;
  height: 24px;
  background: #bdbdbd;
  opacity: .25;
}

.footer .icons .icon-link {
  width: 24px;
  height: 24px;
  margin: 12px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.footer .icons .icon-link::after {
  bottom: -8px;
}

body.mobile .footer {
  bottom: 0px;
  background: #ffffff;
}
