
.font-metropolis-semi-bold {
  font-family: 'MetropolisSemiBold', Futura, 'Didact Gothic', sans-serif;
}

.font-metropolis-bold {
  font-family: 'MetropolisBold', Futura, 'Didact Gothic', sans-serif;
}

.font-metropolis {
  font-family: 'MetropolisRegular', Futura, 'Didact Gothic', sans-serif;
}

.font-metropolis-medium {
  font-family: 'MetropolisMedium', Futura, 'Didact Gothic', sans-serif;
}

.font-metropolis-light {
  font-family: 'MetropolisLight', Futura, 'Didact Gothic', sans-serif;
}

.font-metropolis-extra-light {
  font-family: 'MetropolisExtraLight', Futura, 'Didact Gothic', sans-serif;
}